body {
    text-align: center;

    background-color: black;
}

#game {
    color: white;
}

p {
    color: wheat;
}


#guess-input {
    margin-top: 20px;
}

h2 {
    font-size: 50px;
    color: white;
    padding-top: 400px;
}

.h2 {
    padding-left: 8px;
    padding-right: 8px;
}
